/* Reset default padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Section id container */
#container {
    background: black; /* Set a light background color */
    color: white; /* Adjust text color for better readability */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* Project container */
.project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/* Project items */
.pro1 {
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #fff; /* Set a white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pro1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.pro1 img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 10px;
}

.pro1 h1 {
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #333; /* Adjust title color for better readability */
}

.pro1 p {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic;
    color: #555; /* Adjust description color for better readability */
}

/* Link icon */
.pro1 a {
    text-decoration: none;
    color: #333; /* Adjust link color for better readability */
    font-size: 24px;
    display: block;
}

/* Icon animation on hover */
.pro1 a:hover {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}
